@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #00111C;
    overflow: hidden;
    pointer-events: none;
}

#icon {
    position: absolute;
    left: 44px;
    top: 36px;
}

.navigation {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #8C9499;
    cursor: pointer;
    pointer-events: all;
}

.navigation:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.active {
    text-decoration-line: underline;
    color: #FFFFFF;
}

#playNav {
    left: 196px;
    top: 58px;
}

#shopNav {
    left: 328px;
    top: 58px;
}

#scoreNav {
    left: 491px;
    top: 58px;
    cursor: not-allowed;
}

#betaNav {
    left: 683px;
    top: 58px;
}

#playerNav {
    box-sizing: border-box;
    position: absolute;
    left: 930px;
    top: 50px;
    pointer-events: all;
}

#welcomeNav {
    position: absolute;
    left: 974px;
    top: 56px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    cursor: pointer;
    pointer-events: all;
}

#playerNameNav {
    color: #FFFFFF;
    font-weight: bold;
}

#playIllustration {
    position: absolute;
    left: 730px;
    top: 174px;
}

#playTopBackground {
    box-sizing: border-box;
    position: absolute;
    width: 190px;
    height: 36px;
    left: 116px;
    top: 223px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#playTop {
    position: absolute;
    left: 31px;
    top: -8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#playServeur {
    position: absolute;
    left: 116px;
    top: 266px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.105em;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
}

#playServeurName {
    color: #FFFFFF;
}

#playPlatform {
    position: absolute;
    left: 116px;
    top: 343px;
}

.playIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 13px;
}

#playDescription {
    position: absolute;
    left: 116px;
    top: 391px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.19%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#playDownload {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 116px;
    top: 476px;
    background: #00406C;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    pointer-events: all;
}

#playDownload:hover {
    background: #04538a;
}

#playStats {
    box-sizing: border-box;
    position: absolute;
    width: 190px;
    height: 43px;
    left: 328px;
    top: 476px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    cursor: not-allowed;
    pointer-events: all;
}

#menuCollapse {
    position: absolute;
    width: 223px;
    height: 140px;
    left: 946px;
    top: 93px;
    background: #FFFFFF;
    box-shadow: 0 0 26px #000000;
    border-radius: 4px;
}

.menuElement {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #00111C;
    cursor: pointer;
    pointer-events: all;
}

#menuSettings {
    left: 65px;
    top: 21px;
}

#menuHelp {
    left: 58px;
    top: 58px;
}

#menuDisconnect {
    left: 61px;
    top: 95px;
}

#shopIllustration {
    position: absolute;
    left: 811px;
    top: 120px;
}

#shopRankBackground {
    position: absolute;
    display: block;
    width: 247px;
    height: 243px;
    left: 105px;
    top: 194px;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #905BFF, #4800E3) border-box;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
}
#shopRankBackground:hover {
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to bottom, #905BFF, #4800E3) border-box;
}

#shopLabel {
    position: absolute;
    left: 63px;
    top: -25px;
}

#shopRank {
    position: absolute;
    left: 59px;
    top: 62px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #905BFF 0%, #4800E3 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#shopRankPrice {
    position: absolute;
    left: 47px;
    top: 119px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#shopPetBackground {
    position: absolute;
    display: block;
    width: 247px;
    height: 243px;
    left: 395px;
    top: 194px;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #5BFF7F, #79FFC7) border-box;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
}

#shopPetBackground:hover {
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to bottom, #5BFF7F, #79FFC7) border-box;
}

#shopFamily {
    position: absolute;
    left: 65px;
    top: -29px;
}

#shopPet {
    position: absolute;
    left: 51px;
    top: 62px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #5BFF7F 0%, #79FFC7 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#shopPetPrice {
    position: absolute;
    left: 49px;
    top: 120px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#shopDon {
    position: absolute;
    width: 537px;
    height: 85px;
    left: 105px;
    top: 488px;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #DE5BFF, #E30096) border-box;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
}

#shopDon:hover {
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to bottom, #DE5BFF, #E30096) border-box;
}

#shopDonIcon {
    font-size: 30px;
    background: linear-gradient(180deg, #DE5BFF 0%, #E30096 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#shopDonText {
    position: absolute;
    left: 126px;
    top: -6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #DE5BFF 0%, #E30096 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#betaIllustration {
    position: absolute;
    left: 490px;
    top: 5px;
}

#betaTopBackground {
    box-sizing: border-box;
    position: absolute;
    width: 190px;
    height: 36px;
    left: 116px;
    top: 223px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

#betaTop {
    position: absolute;
    left: 31px;
    top: -8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#betaServeur {
    position: absolute;
    left: 116px;
    top: 266px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.105em;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
}

#betaServeurName {
    color: #FFFFFF;
}

#betaPlatForm {
    position: absolute;
    left: 116px;
    top: 343px;
}

.betaIcon {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 13px;
}

#betaDescription {
    position: absolute;
    left: 116px;
    top: 391px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.19%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#betaDownload {
    position: absolute;
    width: 190px;
    height: 43px;
    left: 116px;
    top: 476px;
    background: #00406C;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    pointer-events: all;
}

#betaDownload:hover {
    background: #04538a;
}

#gradesReturn {
    position: absolute;
    left: 185px;
    top: 121px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#gradesIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -32px;
    top: 0px;
}

#aboSorcier {
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 489px;
    left: 154px;
    top: 196px;
    font-weight: 800;
    font-size: 32px;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #C100A2, #450F64) border-box;
}

#gradesSorcier {
    position: absolute;
    left: 54px;
    top: -17px;
}

#grades {
    position: absolute;
    left: 58px;
    top: 91px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#gradesPrice {
    position: absolute;
    left: 77px;
    top: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.gradesAcces {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
}

.keys {
    font-size: 20px;
    background: linear-gradient(180deg, #C100A2 0%, #450F64 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradesNoAcces {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #8C9499;
}

.noKeys {
    font-size: 20px;
    background: #8C9499;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#keysColor {
    position: absolute;
    left: 15px;
    top: 199px;
}

#gradesColor {
    position: absolute;
    left: 40px;
    top: 179px;
}

#gradesHome {
    position: absolute;
    left: 16px;
    top: 218px;
}

#gradesFeed {
    position: absolute;
    left: 16px;
    top: 250px;
}

#gradesTeleportation {
    position: absolute;
    left: 16px;
    top: 283px;
}

#gradesCraft {
    position: absolute;
    left: 16px;
    top: 316px;
}

#gradesHat {
    position: absolute;
    left: 16px;
    top: 348px;
}

#gradesBack {
    position: absolute;
    left: 16px;
    top: 380px;
}

#gradeShop {
    position: absolute;
    left: 77px;
    top: 447px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#aboEnchanteur {
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 489px;
    left: 413px;
    top: 196px;
    font-weight: 800;
    font-size: 32px;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #450F64, #7F30BF) border-box;
}

#gradesEnchanteur {
    position: absolute;
    left: 36px;
    top: -35px;
}

#gradesE {
    position: absolute;
    left: 38px;
    top: 91px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#gradesPriceE {
    position: absolute;
    left: 68px;
    top: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.gradesAccesE {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
}

.keysE {
    font-size: 20px;
    background: linear-gradient(180deg, #450F64 0%,#7F30BF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradesNoAccesE {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #8C9499;
}

.noKeysE {
    font-size: 20px;
    background: #8C9499;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#keysParentE {
    position: absolute;
    left: 15px;
    top: 199px;
}

#gradesParentE {
    position: absolute;
    left: 40px;
    top: 181px;
}

#gradesHomeE {
    position: absolute;
    left: 16px;
    top: 218px;
}

#gradesTeleportationE {
    position: absolute;
    left: 16px;
    top: 251px;
}

#gradesCraftE {
    position: absolute;
    left: 16px;
    top: 283px;
}

#gradesHatE {
    position: absolute;
    left: 16px;
    top: 315px;
}

#gradesBackE {
    position: absolute;
    left: 16px;
    top: 348px;
}

#gradesBetaE {
    position: absolute;
    left: 16px;
    top: 380px;
}

#gradeShopE {
    position: absolute;
    left: 77px;
    top: 447px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#aboMage {
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 489px;
    left: 674px;
    top: 196px;
    font-weight: 800;
    font-size: 32px;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #450F64, #4500B5) border-box;
}

#gradesMage {
    position: absolute;
    left: 47px;
    top: -35px;
}

#gradesM {
    position: absolute;
    left: 38px;
    top: 91px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#gradesPriceM {
    position: absolute;
    left: 68px;
    top: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.gradesAccesM {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
}

.keysM {
    font-size: 20px;
    background: linear-gradient(180deg, #450F64 0%,#4500B5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradesNoAccesM {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #8C9499;
}

.noKeys {
    font-size: 20px;
    background: #8C9499;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#keysParentM {
    position: absolute;
    left: 15px;
    top: 201px;
}

#gradesParentM {
    position: absolute;
    left: 40px;
    top: 182px;
    text-align: left;
}

#gradesHomeM {
    position: absolute;
    left: 16px;
    top: 240px;
}

#keysStars {
    position: absolute;
    left: 15px;
    top: 365px;
}

#gradesAvantageM {
    position: absolute;
    left: 40px;
    top: 350px;
}

#gradesBackM {
    position: absolute;
    left: 16px;
    top: 275px;
}

#gradesBetaM {
    position: absolute;
    left: 16px;
    top: 310px;
}

#gradeShopM {
    position: absolute;
    left: 77px;
    top: 447px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#aboSorcierSupreme {
    box-sizing: border-box;
    position: absolute;
    width: 224px;
    height: 489px;
    left: 936px;
    top: 196px;
    font-weight: 800;
    font-size: 32px;
    border-radius: 6px;
    border: 4px solid transparent;
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(#00111C, #00111C) padding-box, linear-gradient(to top, #450F64, #57000A) border-box;
}

#gradeSS {
    position: absolute;
    left: 19px;
    top: 91px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

#gradesPriceSS {
    position: absolute;
    left: 68px;
    top: 107px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 113.69%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.gradesAccesSS {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113.69%;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    text-align: left;
}

.keysSS {
    font-size: 20px;
    background: linear-gradient(180deg, #450F64 0%,#57000A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#keysParentSS {
    position: absolute;
    left: 15px;
    top: 201px;
}

#gradesParentSS {
    position: absolute;
    left: 40px;
    top: 183px;
}
